{% extends 'master.html' %}

{% block title %}About{% endblock %}

{% block head %}
	{% parent %}

{% endblock %}

{% block bodyheader %}
	<header class="header-about">
{% endblock %}

{% block navigation %}
	{% parent %}
{% endblock %}

{% block header-contents %}
	<div class="header-contents">
		<h1>About</h1>
	</div>
</div>
</header>
{% endblock %}


{% block content %}
	<div class="container-center">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.</p>
	</div>
{% endblock %}

{% block footer %}
	{% parent %}
{% endblock %}

{% block scripts %}
	{% parent %}
{% endblock %}
